html, body {
        height: 100%;
        }

        .quantity {

        }

        .main {
            height: 100%;
            margin-left: 10px;
        }

        header {
            height: 10%;
            margin-left: 20px;
            width: 100%;
            position: relative;
            padding: 0;
        }

        #logo{
            float: left;
            height: 100%;    
        }

        #logo img {     
            height: 100%;
        }

        #name {
            float: left;
            margin-left: 20px;
            height: 100%;
        }

        #name h1 {
            position: absolute;
            bottom: 0;
            margin-bottom: 0;

        }

        .content {
            margin-top: 20px;
            /*min-height: calc(100vh - 80px);*/
        }

        section {
            display: flex;
            align-items: stretch;
            width: 100%;
            height: 73%;
        }

        article {
            float: left;
            font-size: 17px;
            height: 100%;
        }

        article.left {
            width: 33%;
            margin: 0 20px;
        }

        article.right {
            width: 46%;
            border-right: 3px solid black;
            border-left: 3px solid black;
            padding: 0;
        }

        article h2 {
            margin: 0;
            text-align: center;
            margin-top: 40px;
        }

        article.left p {
            text-align: justify;
            margin-right: 20px;
        }

        table {
            border: none;
            font-size: 17px;
            width: 100%;
        }

        caption {
            font-size: 24px;
            font-weight: bold;
            padding: 5px;
            margin-bottom: 15px;
            text-align: center;
        }

        tr {
            height: 13%;
        }

        .goods{
            position: relative;
            line-height: 45px;
            cursor: -webkit-grab;
            cursor: grab;
            min-height: 55px;
        }

        .price {
            float: right;
            width: 26%;
            text-align: center;
            position: relative;
            right: 0;
            font-weight: bold;
            /*border: 2px solid blue;*/
        }

        .minus{
            visibility: hidden;
            float: left;
            position: relative;
            top: 14px;
            right: 0;
        }

        .appleRemove, .leaveRemove, .nutRemove, .chrysanthemumRemove, .fizalisRemove, .threadRemove, .featherRemove, .mustacheRemove, .geraniumRemove, 
        .vineRemove {
            line-height: 45px;
        }


        .plus {
            visibility: hidden;
            position: relative;
            float: left;
            top: 14px;
        }

        .product {
            display: inline;
            float: left;
        }
         td {
            width: 100%;
         }

         td+td {
            width: 15%;
         }

        aside {
            width: 45%;
            height: 100%;
            float: left;
        }

       section img {
            width: 50px;
            height: 50px;
            margin: 0 15px;
        }

       .description {
           display: inline;
       }

        aside h2 {
            text-align: center;
            margin-top: 0;
        }

        aside p {
            font-size: 17px;
            margin-left: 20px;
        }

        #orderButton, #submit{
            float: right;
            height: 30px;
            width: 175px;
            font-size: 15px;
            text-align: center;
        }

        .amount {
            
            float: left;
            width: 30%;
            text-align: center;
            position: relative;
            font-weight: bold;
        }

        .cost {
            text-align: left;
            float: left;
            padding-left: 12px;

        }

        #sum {
            float: right;
            visibility: hidden;
            font-weight: bold;
            font-size: 17px;
            text-align: right;
            margin-right: 40px;
        }

        #empty {
            visibility: visible;
        }

        #basket {
            width: 100%;
        }

        #orderForm {
            font-size: 17px;
            visibility: hidden;
            margin-left: 20px;
        }

        fieldset {
            width: 90%;
        }

        #orderForm legend {
            font-weight: bold;
        }

        input {
            height: 30px;
            width: 210px;
            font-size: 15px;
        }

        label {
            width: 80px;
            float: left;
            line-height: 30px;
        }

        .required {
            color: red;
            font-size: 22px;
        }

        footer {
            height: 6%;
            position: relative;
            margin-top: 15px;
        }

        footer p {
            margin-left: 20px;
            font-size: 17px;
            float: left;
        }

        footer div {
            float: left;
            margin-top:10px;
        }

        footer div img {
            width:15%;
            height: 100%;
        }

        #done {
            display: none;
        }

        .invalid {
            background-color: indianred;
        }

        .valid {
            background-color: white;
        }